*{
    margin: 1px;
    padding: 1px
    
}


.header nav ul{
    list-style: none;

}

header{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: baseline;
    background-color: darkgray;
    color: rgb(122, 42, 42);
}

.header nav ul li a{
    color: #28403D;
    text-decoration: none;
    margin-left: 40px;
}



body{
    background-color:darkgray ;
}
.navbar {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 150px;
}
.logo img {
    width: 150px;
    display: flex;
    align-items: center;
    margin: 10px;
    height: 190px;
    list-style: none;
    margin-top: 100px;
}

.navlinks{
    display: flex;
    gap: 50px;
    list-style: none;  
   justify-content: center;  
   font-size: larger;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   width: 100%;
}

.navlinks li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 200;
}

.navlinks li a:hover {
    color: #787878;
    transition: 0,6s;
}
.dropdown a {
    display: flex;
    align-items: center;
    gap: 4px;

}

.dropdown-menu {
    list-style: none;
    visibility: hidden;
    transform: translatey(10px);
    position: absolute;
    background-color:#4A4746;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 999;
    opacity: 0;

}

.dropdown-menu li a {
    padding: 12px;
    display: block;
    color: darkgray;
    white-space: nowrap;
}

.dropdown-menu li a:hover{
    background-color: black;
    transition: 0,6s;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.6s;
}

.logo{
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-width: 200px;
    margin-bottom: 10px;
    
}


.navlinks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.produtos {
    background-color: darkgray;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.produtos h1 {
    font-size: 50px;
}

.produtos-card {
    background-color:transparent;
    margin-top: 100px;
    width: 200px;
    padding: 20px;
    border-radius: 3%;
    transition: transform 0.3s;
    font-family: Arial, Helvetica, serif;
}

.produtos-card img{
    border-radius: 1%;
    width: 250px;
    height: 300px;
}



.produtos-card:hover {
    transform: translateY(-10px);
}

.produtos-card button {
    background-color:rgb(62, 62, 65) ;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: 50px;
    margin-top: 10px;
    border-radius: 8%;
    cursor: pointer;
    transition: background-color 0.2s;
    
}

.produtos-card button:hover {
    background-color: rgb(0, 0, 0);
    color: black;
}

.produtos-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    background-color: darkgray;
    background-size: cover;
    background-repeat: no-repeat;
}

.produtos h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.produtos-card h3{
    font-size: 20px;
    color: rgb(0, 0, 0); 
}

.produtos-card p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-top: 5px;
}














